
@media (max-width: 768px) {
    .burger-menu {
        display: block; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        background-color: #b22222;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px 0;
    }
    nav ul{
        display: none;
    }
    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        padding: 10px 0;
    }

    .nav-links li a {
        display: block;
        padding: 10px 0;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
    }

    .nav-links li a:hover {
        background-color: #228b22; 
        color: #fff; 
    }
}

@media (max-width: 768px) {
    .palmares-container {
        flex-direction: column; 
        align-items: flex-start;
    }

    .palmares-container img {
        width: 100%; 
    }
}